appdirs
attrs
Automat
bcrypt
beautifulsoup4
Bottleneck
brotlipy
certifi
cffi
charset-normalizer 
click
colorama
constantly
cryptography
cssselect
cycler
docopt
filelock
fonttools
goatools
huggingface-hub
hyperlink
idna
igraph
importlib-metadata
incremental
itemadapter
itemloaders
jmespath
joblib
kiwisolver
lxml
matplotlib
mkl-fft
mkl-random
mkl-service
munkres
numexpr
numpy
packaging
pandas
parsel
patsy
Pillow
Protego
protobuf
pyasn1
pyasn1-modules
pycparser
PyDispatcher
pydot
PyHamcrest
pyOpenSSL
pyparsing
PySocks
python-dateutil
python-igraph
pytz
PyYAML
queuelib
regex
requests
requests-file
sacremoses
scikit-learn
scipy
Scrapy
seaborn
service-identity
six
soupsieve
statsmodels
texttable
threadpoolctl
tldextract
tokenizers
torch
torchaudio
torchvision
tornado
tqdm
transformers
Twisted
typing_extensions
urllib3
w3lib
xlrd
XlsxWriter
zipp
zope.interface
